{%  load staticfiles  %}

{% load i18n %}
{% load account socialaccount %}

<!DOCTYPE html>
<html>
<head>    
    
    <title>{% block head_title %}{% endblock %}</title>

 <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
   
<link rel="stylesheet" type="text/css" href='/static/css/style.css'/> 
 <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
<link rel="stylesheet" type="text/css" href='/static/css/normalize.css'/>
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css"/>   

  
    {% block head_css %}{% endblock %}
    
</head>
<body>


 {% block body %}

{% block content %}

  {% endblock %}
  {% endblock %}


{% block javascript %}{% endblock %}


</body>
</html>







